@import url('./reset.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('../components/common/CalendarCustom.css');

@font-face {
  font-family: plex_sansKR;
  src: url('/src/fonts/IBMPlexSansKR-Medium.ttf') format(medium);
  font-style: normal;
}

.border-multi {
  @apply border-0;
  border: 3px solid transparent;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(to bottom right, #356eff, #5fff8c);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
