@import url('./reset.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('../components/common/CalendarCustom.css');

@font-face {
  font-family: plex_sansKR;
  src: url('/src/fonts/IBMPlexSansKR-Medium.ttf') format(medium);
  font-style: normal;
}
