.react-calendar {
  width: 100%;
}

.react-calendar__tile {
  border-radius: 8px;
  background-color: white;
}

.react-calendar__tile:disabled {
  color: #afaeac;
  background-color: white;
}

.react-calendar__tile:enabled:hover {
  background-color: #cdd3f4;
}

.react-calendar__tile--active,
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background-color: #687bdf;
}

.react-calendar__tile--now {
  background-color: yellow;
  color: black;
}

.react-calendar__navigation button {
  border-radius: 99px;
  min-width: 3.5rem;
  height: 3.5rem;
}

.react-calendar__navigation button:disabled {
  background-color: white;
}

.react-calendar__navigation button:enabled:focus {
  background-color: white;
}

.react-calendar__navigation button:enabled:hover {
  background-color: #8999e6;
}
